
.booklistsection {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.booksection {
    height: 200px;
    width: 200px;
}

.booksection img {
    width: 100%;
}

.Layout {
    margin: 0 auto;
    width: 80vw;
}

.bookteller {
    display: flex;
    margin: 0;
    
}

.navbar {
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: rgb(67, 67, 67);
    font-size: 16px;
    

}

ul {
    list-style-type: none;

}
