/* #root {
    display: flex;
   justify-content: center;
   height: 100vh;
   width: 100vw;
} */

.booklistsection {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: space-around;
    gap: 20px;
align-items: center;
}

.booksection {
    height: 200px;
    width: 200px;
}

.booksection img {
    width: 100%;
}