.bookimg {
    margin: 0;
    padding: 0;

}

.booklistection {
    display:flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border-radius: 10px;

}

.booksection{
    background: grey;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
